// reset
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection { 
    background: rgba(white,0.1);
    color: $primary;
}

// defaults
body {
    overflow-x: hidden;
    background: $dark-gray;
}

// html5 layout
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    @include width(tablet) {
        flex-direction: column;
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    z-index: 9;
}

// custom
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    @include width(mobile){
        justify-content: space-between;
        width: 100%;
    }
    .avatar-name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            border: 2px solid rgba(white,0.1);
        }
    }
    .address {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        gap: 0.25rem;
        padding: 0.5rem;
        background-color: rgba(white,0.1);
        border-radius: 9999px;
        text-decoration: none;
        &:hover,
        &:active {
            color: $dark-gray;
            background-color: white;
        }
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
::-webkit-scrollbar-track {
    background: rgba($secondary,0.1); 
}
::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 999px;
    &:hover {
        background: $primary; 
    }
}

// canvas
canvas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    // z-index: -1;
}