// reset
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection { 
    background: rgba(white,0.1);
    color: $primary;
}

// defaults
body {
    overflow-x: hidden;
    background: $dark-gray;
}

// html5 layout
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    @include width(tablet) {
        flex-direction: column;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 4rem;
    width: 100%;
    overflow-y: auto;
    flex: 1;
    @include width(tablet) {
        padding: 2rem;
    }
    @include width(mobile) {
        padding: 1.5rem;
    }
    aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        z-index: 9;
    }
}

// custom
.instafeed {
    justify-content: flex-start;
    gap: 2rem;
    max-width: 40%;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
    @include width(tablet) {
        max-width: 100%;
        flex-direction: row;
    }
    a {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        background: $primary;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        &:hover,
        &:active {
            transform: translateY(-0.25rem) scale(1.05);
        }
        @include width(tablet) {
            max-width: 80%;
        }
        span {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2rem;
            color: white;
            background: linear-gradient(to top, $primary 0%, rgba($primary,0) 100%);
            width: 100%;
            border-radius: 1rem;
        }
        i {
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0.5rem;
            background-color: black;
            color: white;
            border-radius: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    @include width(mobile){
        justify-content: space-between;
        width: 100%;
    }
    .avatar-name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            @include width(mobile){
                height: 2rem;
                width: 2rem;
            }
        }
    }
    .address {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        gap: 0.25rem;
        padding: 0.5rem;
        background-color: rgba(white,0.1);
        border-radius: 9999px;
        text-decoration: none;
        &:hover,
        &:active {
            color: $dark-gray;
            background-color: white;
        }
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
::-webkit-scrollbar-track {
    background: rgba($secondary,0.1); 
}
::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 999px;
    &:hover {
        background: $primary; 
    }
}

// canvas
canvas {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}