// defaults
body {
    font-family: $sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    color: $primary
}

// line-height adjustments
p,
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4em;
}

// font sizes
p {
    font-size: 20px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
small {
    font-size: 12px;
    font-weight: 700;
}

// links

a {
    transition: all ease-in-out 0.15s;
    text-decoration: none;
    color: $primary;
    font-weight: 700;
    &:hover,
    &:active {
        color: rgba($primary,0.4);
    }
}