// defaults
body {
    font-family: $sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    color: rgba(white, 0.7);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// line-height adjustments
p,
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4em;
}

// font sizes
p {
    font-size: 20px;
    @include width(mobile){
        font-size: 16px;
    }
    @include width(watch) {
        font-size: 12px;
    }
}
h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    @include width(mobile){
        font-size: 22px;
    }
    @include width(watch) {
        font-size: 16px;
    }
}
h2 {
    font-size: 22px;
    font-weight: 400;
    @include width(mobile){
        font-size: 20px;
    }
    @include width(watch) {
        font-size: 14px;
    }
    span {
        color: $primary;
    }
}
small {
    font-size: 12px;
    font-weight: 600;
    @include width(watch) {
        font-size: 10px;
    }
}

// links

a {
    transition: all ease-in-out 0.15s;
    text-decoration: none;
    color: white;
    font-weight: 400;
    &:hover,
    &:active {
        color: $secondary;
    }
    svg {
        transition: all ease-in-out 0.15s;
        fill: white;
        height: 1rem;
        width: auto;
        &:hover,
        &:active {
            fill: $primary;
        }
    }
}