// defaults
body {
    font-family: $sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    color: rgba(white,0.75)
}

// line-height adjustments
p,
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4em;
}

// font sizes
p {
    font-size: 20px;
    @include responsive(mobile){
        font-size: 16px;
    }
}
h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    @include responsive(mobile){
        font-size: 22px;
    }
}
h2 {
    font-size: 22px;
    font-weight: 400;
    @include responsive(mobile){
        font-size: 20px;
    }
    span {
        color: $primary;
    }
}
small {
    font-size: 12px;
    font-weight: 600;
}

// links

a {
    transition: all ease-in-out 0.15s;
    text-decoration: none;
    color: white;
    font-weight: 400;
    &:hover,
    &:active {
        color: $primary;
    }
}