// colors
$dark-gray: #010101;
$primary: #4E5EAF;
$primary-soft: #E1E6FF;
$secondary: #E86187;
$secondary-soft: #FFD8E3;

// typography
$sans-serif: "DM Sans", sans-serif;

// viewport sizes
$mobile: 360px;
$tablet: 800px;
$laptop: 1440px;