// colors
$dark-gray: #15121a;
$primary: #8951FF;
$secondary: #ff7c92;

// typography
$sans-serif: "sofia-pro", sans-serif;

// viewport sizes
$watch: 200px;
$mobile: 420px;
$mobile-landscape: 500px;
$tablet: 800px;
$tablet-landscape: 700px;
$laptop: 1440px;